body {
    font-family: "Lato", sans-serif;
    padding-left: 10px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    position: relative;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #eee;
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    overflow-y: scroll;
}

#sidebarCollapse.active {
    margin-left: 0px;
}

#sidebar.active {
    margin-right: -250px;
}

/* On smaller screens, where width is less than 768px, change the style of the sidebar */
@media (max-width: 768px) {
    body {
        padding-left: 0px;
    }

    #sidebar {
        margin-right: -250px;
    }

    #sidebar.active {
        margin-right: 0px;
    }

    #content {
        margin-right: 0px;
    }

    #sidebarCollapse {
        margin-right: 260px;
    }
}